body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  max-width: 1400px;
}

.clear {
  clear: both;
}

.font-color {
  color: #9e449b;
}

/* grid */

.grid-container {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid red;
}

.row, .column {
  box-sizing: border-box;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
    border-bottom: 1px solid red;
}

[class*='col-'] {
    float: left;
    position: relative;
    min-height: 1px;
    width: 8.333%;
    /*padding: 1.5%;*/
    border-right: 1px solid red;
}

.col-1 {
    width: 8.333%;
}

.col-2 {
    width: 16.666%;
}

.col-3 {
    width: 24.999%;
}

.col-4 {
    width: 33.332%;
}

.col-5 {
    width: 41.665%;
}

.col-6 {
    width: 49.998%;
}

.col-7 {
    width: 58.331%;
}

.col-8 {
    width: 66.664%;
}

.col-9 {
    width: 74.997%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.663%;
}

.col-12 {
    width: 100%;
}

/* end grid */
