@media screen and (max-width: 40em) and (max-width: 64em) {
  .about .col-6, .about .col-4:not(button) {
    width: 100%;
  }

}

/*@media (max-width: 975px) {
  [class*='inner-'] {
    display: none;
  }
  .outer span {
    font-size: 0.8rem;
    text-align: center;
  }
  .outer {
    height: 140px;
  }
}*/
